<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="io.dragonsbane.android">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".DBApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Base.Theme.DB">
        <service android:name=".service.DragonsbaneAndroidService" />

        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".SettingsActivity" />
        <!-- Neurocog -->
        <activity android:name=".neurocog.TestDisclaimerActivity" />
        <activity android:name=".neurocog.PreTestActivity" />
        <activity android:name=".neurocog.SimpleMemoryTestActivity" />
        <activity android:name=".neurocog.ComplexMemoryTestActivity" />
        <activity android:name=".neurocog.WorkingMemoryTestActivity" />
        <activity android:name=".neurocog.TestReportActivity" />
        <activity android:name=".neurocog.TestHistoryActivity" />
        <activity android:name=".neurocog.ViewUserProfileActivity" />
        <activity android:name=".neurocog.ExportHistoryActivity"></activity>
    </application>

</manifest>